body {
  background-color: #111;
  font-family: 'Courier New', Courier, monospace;
  color: #00ff00;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header {
  width: 80%;
  background-color: rgba(0, 255, 0, 0.1);
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #00ff00;
  margin-top: 20px;
}

.nav-icons {
  display: flex;
  gap: 15px;
  font-size: 15px;
}

.nav-icons a {
  color: #00ff00;
  text-decoration: none;
}

.content {
  width: 85%;
  background-color: #222;
  border: 2px solid #00ff00;
  padding: 20px;
  margin: 10px 0;
  color: #00ff00;
  font-size: 1.5em;
  text-align: center;
}

.profile-img {
  width: 200px;
  display: block;
  margin: auto;
}

.post {
  margin-bottom: 30px;
}

.post h2 {
  font-size: 0.8em;
  margin: 0;
  color: #00ff00;
}

.post p {
  line-height: 1.6;
}

.contact {
  width: 80%;
  background-color: #222;
  border: 2px solid #00ff00;
  padding: 20px;
  margin: 10px 0;
  color: #00ff00;
  text-align: center;
}

.contact a {
  color: #00ff00;
  text-decoration: none;
  font-weight: bold;
}

.contact a:hover {
  text-decoration: underline;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  border: 2px solid #00ff00;
  border-radius: 10px;
}

.container img {
  height: 400px;
  transition: transform 0.3s;
}

.container img:hover {
  transform: scale(1.1);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container a {
  margin-bottom: 10px;
}
.container p {
  color: #00ff00;
  text-align: center;
  margin: 10px 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 14px;
  text-align: center;
}